@import '../../App.scss';

.home-page {
    display: flex;
    flex-direction: row;

    .text-zone {
        width: 49%;
        max-height: 90%;
        margin: 0 2% ;
        margin-top: auto;
        margin-bottom: auto;
    }

    h1 {
        color: $accent;
        font-size: 2.5rem;
        line-height: 2.9rem;
        margin: 0;
        font-family: 'Galgine';
        font-weight: 400;
        animation: fadeIn 1.5s backwards;
        letter-spacing: 3px;

    }

    h2 {
        color: $accentLight;
        margin-top: 30px;
        font-size: 1rem;
        font-family: 'Champagne & Limousines';
        letter-spacing: 2px;
        animation: fadeIn 2s backwards;
        margin-bottom: 45px;
    }

    .flat-button {
        text-decoration: none;
        color: $accentDark;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2px;
        font-family: 'Champagne & Limousines';
        animation: fadeIn 2.4s backwards;
        border: solid $accentDark 3px;
        border-radius: 15px;
        margin-top: 150px;
        padding: 20px 40px;
        box-shadow: inset 0px 0px 0px $backgroundColor;
        transition: all 0.1s !important;
    
        &:hover {
            box-shadow: inset 300px 0px 0px $accentDark;
            color: $backgroundColor;
        }
    }

    .portrait {
        width: 49%;
        margin-top: auto;
        margin-bottom: auto;
    }
    img {
        width: 60%;
        border-radius: 100% 100% 0% 100% ;
        
    }
}

@media only screen and (max-width: 900px) {
    .home-page{
        flex-direction: none;
        flex-flow: column-reverse;
        height: none;
        

        .text-zone {
            width: 80%;
            
            height: fit-content;
            padding-bottom: 200px;
            text-align: center;
            margin: auto;
        }
        .portrait {
            margin-top: 10%;
            width: 80%;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            text-align: center
        }
    }
}