@import '../../App.scss';

.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: $accentLight;
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        animation: fadeIn 1.5s backwards;
        letter-spacing: 3px;

    }

    h2 {
        color: $accent;
        margin-top: 30px;
        font-weight: 400;
        font-size: 0.75rem;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 2s backwards;
        margin-bottom: 45px;
    }
    
    .flat-button {
        text-decoration: none;
        color: $hoverColor;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        animation: fadeIn 2.4s backwards;
        border: solid $hoverColor 1px;
        margin-top: 125px;
        padding: 20px 20px;
        box-shadow: inset 0px 0px 0px $backgroundColor;
        transition: all 0.1s !important;
    
        &:hover {
            box-shadow: inset 180px 0px 0px $hoverColor;
            color: $backgroundColor;
        }
    }

}

