@import '../../App.scss';

.nav-bar {
    background-color: $accentDark;
    width: 8%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500 px;   

    .logo {
        display: block;
        padding: 8px 0;
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        text-decoration: none;
        font-family: 'Galgine';
        font-size: 20px;
        letter-spacing: 2px;
        color: $backgroundColor;
        margin: auto;
        margin-top: 20px;
    

        img {
            display: block;
            margin: 8px auto;
            width: 50%;
            height: auto;
        

            &.sub-logo{
                width: 70%;
                margin-top: 20px;
            }
        }

    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;
        
        

        a {
            font-size: 18px;
            display: block;
            color: $backgroundColor;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
            
        
            
            i {
                transition: all 0.3s ease-out;

            }
            
            &:hover {
                color: $backgroundColor;

                svg {
                    opacity: 0;
                }
                
                &:after {
                    opacity: 1;
                }
            }
        

            &:after {
                    content: '';
                    font-size: 10px;
                    letter-spacing: 2px;
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.3s ease-out;
                    -webkit-transition: all 0.3s ease-out;
                    font-family: 'Champagne & Limousines';
                    font-size: 12px;
            }

            &:first-child {
                &:after {
                    content: 'HOME';
                }
            }        
        }
        
        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: $hoverColor
            }
        }
    }

    ul {
        position: absolute;
        bottom: 20px;
        list-style: none;
        text-align: center;
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            a {
                padding: 7px;
                display: block;
                font-size: 20px;
                color: $backgroundColor;

                &:hover svg{
                    color: $hoverColor;
                }
            }

        }
    }
    
}
button { display: none;}

@media only screen and (max-width: 900px) {
    .nav-bar .logo {
        writing-mode: horizontal-tb;
        transform: none;
        text-align: center;
    }
    .hidden-menu {
        display: none;
    }
    .show-menu {
        display: block;
        width: 100%;
    }

    button {
        display: inline;
        border: 0;
        height: 60px;  
        width: 60px;  
        font-size: 1rem;
        font-weight: bold;
        border-radius: 50% 0 50% 50%;
        // background-color: $accentDark;
        // color: $backgroundColor;
        background-color: rgba(255, 255, 255, 0);
        color: $accent;
        text-align: center;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        right: 0;
        top: 0;
    }
  }